.root {
    -fx-background-color: #f1f8ff;
}

.button {
    -fx-background-color: #2f70ff;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
}
.button:hover {
    -fx-background-color: #579dff;
}

.menu-bar {
    -fx-background-color: #0B2545;
    -fx-background-radius: 2;
}
.menu {
    -fx-background-color: #0B2545;
}
.menu:focused, .menu:hover {
    -fx-background-color: #13315C;
}
.menu .label {
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
.context-menu {
    -fx-background-color: #13315C;
    -fx-background-radius: 2;
}
.menu-item {
    -fx-background-color: #13315C;
}
.menu-item:focused, .menu-item:hover {
    -fx-background-color: #134074;
}
.menu-item .label {
    -fx-text-fill: #ffffff;
}

.my-big-label {
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: #134074;
}
.my-top-menu {
    -fx-background-color: #fefeff;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-color: transparent transparent #1d4a71 transparent;
}
.my-pop-up {
    -fx-background-color: #fefeff;
}
.my-strong-text {
    -fx-font-weight: bold;
    -fx-font-size: 12;
}
.my-status-bar {
    -fx-background-color: #fefeff;
    -fx-font-weight: bold;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-color: #1d4a71 transparent transparent transparent;
}
.tag-label {
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: #f0f1f5;
    -fx-content-display: LEFT;
    -fx-padding: 2 4 2 4;
}

